* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: #2965FF;
  position: relative;
}

.header__content {
  display: flex;
  justify-content: flex-end;
  min-height: 60px;
  align-items: center;
  padding: 0 15px;
}

.collapse {
  position: absolute;
  left: 15px;
  user-select: none;
}

.header__menu-disactive {
  animation: disappear 0.2s linear;
}

.header__burger-menu-active {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.header__burger-menu-disactive {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.header__burger-menu {
  position: relative;
  left: 0;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 3;
}

.burger-icon {
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
}

.burger-icon::after {
  content: "";
  position: absolute;
  bottom: 1px;
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
}

.burger-icon::before {
  content: "";
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
}

.header__menu {
  position: fixed;
  z-index: 2;
  top: 0;
  background: #2965FF;
  width: 220px;
  height: 100vh;
  padding: 0 0 0 13px;
  left: 0;
}

.header__menu-active {
  animation: appear 0.2s linear;
}

.header__nav {
  padding: 52px 0 0 0;
}

.header__logo {
  padding: 7px 0 0 25%;
}

.header__logo a {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #00EEFD;
  text-decoration: none;
}

.header__item {
  list-style: none;
  font-size: 18px;
  margin-bottom: 9px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s linear;
}

.header__link:hover {
  transition: color 0.2s linear;
  color: #FF4040;
}

.header__search {
  position: relative;
  max-width: 487px;
  width: 100%;
}

.search-icon {
  position: absolute;
  width: 13.88px;
  height: 13.88px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  background-image: url("./src/assets/images/search.svg");
}

.header__search input {
  max-width: 467px;
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 5px;
  background: #E8E8E8;
  padding: 0 0 0 38px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #86A1BF;
  outline: none;
}

.header__search input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #86A1BF;
}

.header__profile {
  display: flex;
  flex-direction: row-reverse;
  max-width: 248px;
  align-items: center;
  color: #fff;
  margin-left: 25%;
}

.header__notifications {
  width: 18.4px;
  height: 20.7px;
  background-image: url("./src/assets/images/Vector.svg");
  margin-left: 11px;
  cursor: pointer;
}

.header__profile-foto {
  width: 37px;
  height: 37px;
  background: #E8E8E8;
  border-radius: 50%;
  margin-left: 11px;
  cursor: pointer;
}

.graphs__add-graph{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #ffffff;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  background: #FF4040;
  cursor: pointer;
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes disappear {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}
